:root {
    --header-color: #FF4520;
    --bg-color: #eee;
}

@font-face {font-family: "TacticSans-Reg"; 
    src: url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.eot"); src: url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.woff") format("woff"), url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.svg#TacticSans-Reg") format("svg"); }


* {
    font-family: "TacticSans-Reg";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-color: var(--bg-color);;
}

.container {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(23deg, var(--header-color), #000);
    text-align: center;
    height: 30vh;
}

header .container {
    position: relative;
    bottom: -50%;
}

.profile-avatar {
    border-radius: 50%;
    margin-bottom: 24px;
    width: 180px;
    height: 180px;
}

.profile-name {
    font-size: 2em;
}

.profile-username {
    margin: 16px 0 32px;
    font-size: 1.1em;
}

.profile-link {
    background-color: var(--header-color);
    color: var(--bg-color);
    padding: 8px 16px;
    display: inline-block;
    margin-top: 24px;
    text-decoration: none;
    font-weight: bold;
}

.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.numbers-item {
    font-size: 3em;
    font-weight: bold;
}

.numbers-item h4 {
    font-size: .3em;
}