@font-face {font-family: "TacticSans-Reg"; 
    src: url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.eot"); src: url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.woff") format("woff"), url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.svg#TacticSans-Reg") format("svg"); }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "TacticSans-Reg";
}

.container{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

form{
    padding: 16px;
    width: 100%;
    align-items: center;
}

form input,
form button{
    margin-top: 8px;
    padding: 4px;
    display:list-item;
    width: 100%;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

button{
    height: 32px;
    color: white;
    font-weight: bold;
    background-color: green;
}